<!-- Hero Section -->
<section class="container py-5">
    <div class="row align-items-center">
        <!-- Left Content -->
        <div class="col-md-6">
            <h1 class="display-4 fw-bold mb-3">Welcome to <span class="text-primary"> PMRAS</span> A workspace that
                works for you.</h1>
            <p class="lead mb-4">Build projects, manage tasks, and boost productivity with ease.</p>
            <div>
                <button class="btn btn-primary me-2">Get Started</button>
                <button class="btn btn-outline-secondary text-primary">request demo</button>
            </div>
        </div>

        <!-- Right Image -->
        <div class="col-md-6 text-center">
            <img src="assets/heroImg.png" alt="Hero Image" class="img-fluid rounded">
        </div>
    </div>
</section>

<!-- Marquee Logo Section -->
<section class="bg-light py-5">
    <div class="container text-center mb-4">
        <h2 class="fw-bold">Trusted by Leading Companies</h2>
    </div>

    <!-- Scrolling logos -->
    <div class="overflow-hidden">
        <div class="d-flex flex-nowrap marquee">
            <img src="assets/airbnb.png" class="logo-img mx-4" alt="Logo 1">
            <img src="assets/cursor.png" class="logo-img mx-4" alt="Logo 2">
            <img src="assets/DoorDash.jpg" class="logo-img mx-4" alt="Logo 3">
            <img src="assets/openai-logo.png" class="logo-img mx-4" alt="Logo 4">
            <img src="assets/strip.jpg" class="logo-img mx-4" alt="Logo 5">
        </div>
    </div>
</section>

<!-- feature section -->
<section class="container py-5 text-center">
  <!-- Title -->
  <h2 class="display-5 fw-bold mb-4">One Space for Every Team</h2>

  <!-- Buttons -->
  <div class="d-flex flex-wrap justify-content-center mb-4">
    <button 
      class="btn btn-outline bg-light m-2" 
      *ngFor="let btn of buttons; let i = index"
      [class.active]="selectedIndex === i"
      (click)="changeImage(i)">
      {{ btn.label }}
    </button>
  </div>

  <!-- Image Section -->
  <div>
    <img [src]="buttons[selectedIndex].image" alt="Feature Image" class="img-fluid rounded shadow-lg">
  </div>
</section>
