.marquee {
  overflow: hidden;
  position: relative;
  background: #f8f9fa;
  height: 120px;
}

.marquee-content {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: marquee-right 20s linear infinite;
}

.marquee img {
  height: 80px;         
  width: 160px;         
  object-fit: contain;  
  background: white;    
  padding: 5px;        
  border-radius: 8px;  
  box-shadow: 0 2px 6px rgba(31, 30, 30, 0.1); 
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}



